<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Path Finding Visualizer</a>
    <button
      class="navbar-toggler custom-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="reset()">Reset</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Algorithm
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end dropdow"
            aria-labelledby="navbarDropdown"
          >
            <li><a class="dropdown-item" href="#" (click)="algorithmSelected('Dijkstra')">Dijkstra</a></li>
            <li><a class="dropdown-item" href="#" (click)="algorithmSelected('A*')">A*</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="my-container">

  <div *ngFor="let i of grids" class="row">
    <div *ngFor="let j of i" class="column">
      <grid [node]="j" (click)="clicked($event, j)"></grid>
    </div>
  </div>

</div>
