div.grid {
  height: 20px;
  width: 20px;
  user-select: none;
}

img.start-end-node {
  height: 15px;
  width: 15px;
  position: relative;
  bottom: 5px;
  left: 1px;
}


div.wall {
  background-color: #1A3C40;
  position: relative;
  right: 0.5px;
  bottom: 1px;
}

div.visited {
  background-color: darkslategrey;
}
